body {
    margin: 0 auto;
    padding: 0 1em;
    width: 950px;
    background: white;
    color: black;
    font-family: 'Lucida Sans', arial;
    line-height: 1.4em;
}

    body ::selection {
        background: #e44d26;
        color: white;
    }

    body ::-moz-selection {
        background: #e44d26;
        color: white;
    }

img, iframe {
    max-width: 100%;
    width: auto\9; /* ie8 */
    height: auto;
}

.video {
    text-align: center;
}

img.right {
    float: right;
    margin-left: 1em;
}

/*#region Header */

body > header {
    margin-top: 1em;
    height: 7em;
}

    body > header img {
        float: left;
        margin-right: 1em;
    }

    body > header p, body > header span {
        margin: 0;
        line-height: normal;
    }

    body > header p {
        font-size: 2.0em;
    }

    body > header span {
        font-size: 1.5em;
    }

    body > header a {
        color: black;
        text-decoration: none;
    }

.sidewaffle {
    float: right;
    margin: 4px 5px 0 0;
}

aside {
    float: right;
    position: relative;
    top: -20px;
}

/*#endregion */

/*#region Menu */

#menu, #menu ul {
    margin: 0;
    padding: 0;
    border: 1px solid #9d9d9d;
    border-radius: 4px;
    background-color: #d8d8d8;
    list-style: none;
}

    #menu > li {
        display: inline-block;
    }

        #menu > li > ul {
            position: absolute;
            display: none;
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

    #menu li:hover ul {
        display: block;
    }

    #menu > li:first-child a:hover {
        border-radius: 4px 0 0 4px;
    }

    #menu a {
        display: block;
        padding: 5px 10px;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

        #menu a:hover {
            background: #ebebeb;
        }

    #menu ul li:last-child a:hover {
        border-radius: 0 0 4px 4px;
    }

/*#endregion */

/*#region Main */

#main {
    margin: 2em 0;
}

    #main h1 {
        font-size: 1.5em;
    }

    #main section {
        clear: both;
        margin-bottom: 5em;
        padding-top: 30px;
        -moz-column-gap: 30px;
        -webkit-column-gap: 30px;
        column-gap: 30px;
        -moz-columns: 2;
        -webkit-columns: 2;
        columns: 2;
    }

        #main section blockquote {
            display: block;
            margin-bottom: 10px;
        }

            #main section blockquote:before {
                position: relative;
                top: 42px;
                left: -30px;
                display: block;
                color: #8c8c8c;
                content: '{';
                font-size: 400%;
            }

        #main section cite {
            display: block;
            text-align: right;
        }

        #main section header {
            -webkit-column-span: all;
            column-span: all;
        }

        #main section:not(#index):nth-child(2n+2) {
            margin: auto -5px;
            padding: 10px 5px 5px 5px;
            background: #f1f1f1;
        }

        #main section p {
            margin-bottom: 0;
        }

        #main section h1, #main section h2 {
            margin: 0;
            font-size: 1.7em;
            -webkit-column-span: all;
            column-span: all;
        }

        #main section h2 {
            font-size: 1.4em;
        }

        #main section h3 {
            font-size: 1.1em;
        }

        #main section article {
            display: inline-block;
            margin-top: 1em;
        }

            #main section article img {
                margin-top: 1em;
            }

    #main div > h2 {
        font-size: 1.2em;
    }

#changelog h3 a {
    font-weight: normal;
}

/*#endregion */

/*#region Footer */

footer {
    padding: 2em 0;
    text-align: center;
    font-size: .8em;
}

    footer p {
        margin: 0;
    }

    footer div {
        display: none;
    }

/*#endregion */


@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    @-ms-viewport {
        width: 430px;
    }

    @-o-viewport {
        width: 430px;
    }

    body {
        width: 390px;
    }

    #main section {
        -moz-columns: auto;
        -webkit-columns: auto;
        columns: auto;
    }

    aside {
        display: none;
    }
}

/* iPad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body {
        width: 850px;
    }

    aside {
        display: none;
    }
}
