@{
    Page.Title = "HTML";
    Layout = "~/Views/_Layout.cshtml";
}

<p>
    The HTML editor has been extended with extra functionality.
</p>

<section>
    <h2>Features</h2>

    <article>
        <h3>Handlebars, Mustache and JsRender</h3>

        <p>
            The various different syntaxes used for the flavors of Handlebars are now supported in the HTML editor.
        </p>

        <img src="/images/html/mustache.png" alt="Mustache/Handlebars/JsRender" width="307" height="277" />

        <p>
            <strong>Removed</strong> and rolled into 
            <a href="http://go.microsoft.com/fwlink/?LinkId=282650">Web Tools 2012.2</a>
        </p>
    </article>

    <article>
        <h3>Markdown</h3>

        <p>See the compiled markdown in a preview window inside Visual Studio.</p>

        <p>
            The preview window shows the rendered HTML generated from the Markdown file.
        </p>
    </article>

    <article>
        <h3>ZenCoding</h3>

        <p>
            Watch this short demo video and 
            <a href="http://www.johnpapa.net/zen-coding-in-visual-studio-2012/">read more about the ZenCoding syntax</a>.
        </p>

        <br />

        <iframe width="420" height="280" title="Video" src="http://www.youtube.com/embed/1gHsxlDQ5TE" frameborder="0" allowfullscreen></iframe>

        <p>ZenCoding is open source. Find the <a href="https://github.com/madskristensen/ZenCoding">code on GitHub</a></p>
    </article>

    <article>
        <h3>Lorem Ipsum generator</h3>

        <p>
            As part of ZenCoding, you can now generate Lorem Ipsum code directly in the HTML editor. 
            Simply type "lorem" and hit TAB and a 30 word Lorem Ipsum text is inserted. 
            Type "lorem10" and a 10 word Lorem Ipsum text is inserted.            
        </p>

        <p>This can be used in conjuction with ZenCoding like so: ul>li*5>lorem3</p>
    </article>
</section>

