/*[jumbotron-home]*/
.jumbotron-home hgroup {
    height: 131px;
    min-width: 116px;
    padding-left: 140px;
    background: url(/content/images/logo.png) no-repeat 0 0;
    -webkit-text-shadow: 1px 1px 0 #000;
    text-shadow: 1px 1px 0 #000;
}

    .jumbotron-home hgroup h1 {
        margin: 0 0 13px 0 !important;
        height: 50px;
        line-height: 48px;
    }

        .jumbotron-home hgroup h1 a {
            font-size: 50px;
            color: #e54d26;
            text-decoration: none;
        }

    .jumbotron-home hgroup h2 {
        font-size: 22px;
        margin: 0 0 15px 0 !important;
    }

    .jumbotron-home hgroup h3 {
        display: block;
        font-size: 14px;
        font-weight: 300 !important;
        padding-left: 1px;
        margin: 0 !important;
        color: #aaa;
        font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    }

        .jumbotron-home hgroup h3 a {
            color: #aaa;
        }

.jumbotron-home .description {
    margin-bottom: 20px;
}

.jumbotron-home .btn-social-network {
    margin-top: 26px;
    padding: 15px;
    height: 48px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.16);
}

    .jumbotron-home .btn-social-network li * {
        margin: 0;
        padding: 0;
        vertical-align: top !important;
    }

    .jumbotron-home .btn-social-network ul li:first-child {
        max-width: 92px;
    }

    .jumbotron-home .btn-social-network ul li {
        overflow: hidden;
        max-height: 20px;
        display: inline-block;
        max-width: 102px;
    }

.jumbotron-home .btn-download {
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 30px;
    font-size: 20px;
}

    .jumbotron-home .btn-download:hover {
        color: #333;
        background-color: #fff;
    }

    .jumbotron-home .btn-download i {
        margin-right: 3px;
    }

/*[features-list]*/
.features-list {
    margin-bottom: 40px;
    margin-top: 20px;
}

    .features-list .row-features p {
        margin: 0;
        font-size: 13px;
        color: #555;
    }

    .features-list .row-features .item-feature {
        width: 20%;
        text-align: center;
        float: left;
        margin-bottom: 10px;
    }

        .features-list .row-features .item-feature a {
            border-radius: 0;
            border: 1px solid #fff;
            border-top: 2px solid #fff;
            background-color: #fff;
            -moz-transition: background-color ease 500ms, border-color ease 500ms;
            -o-transition: background-color ease 500ms, border-color ease 500ms;
            -webkit-transition: background-color ease 500ms, border-color ease 500ms;
            transition: background-color ease 500ms, border-color ease 500ms;
            color: #444;
            text-decoration: none;
            display: block;
            height: 100%;
            min-height: 270px;
            max-height: 270px;
            overflow: hidden;
            padding: 30px 10px;
            outline: none;
            border-radius: 8px;
        }

            .features-list .row-features .item-feature a:hover, .features-list .row-features .item-feature a:focus {
                background-color: #f5f5f5;
                border: 1px solid #eee;
                border-top: 2px solid #e9e9e9;
            }

        .features-list .row-features .item-feature h4 {
            margin: 10px 0 15px;
        }

        .features-list .row-features .item-feature span {
            display: inline-block;
            background: #e54d26;
            background-image: url(/content/images/feature-icon.png);
            background-repeat: no-repeat;
            background-position: 0 0;
            width: 60px;
            height: 60px;
            border-radius: 8px;
            -moz-transition: all ease .8s;
            -o-transition: all ease .8s;
            -webkit-transition: all ease .8s;
            transition: all ease .8s;
        }

        .features-list .row-features .item-feature:hover span {
            box-shadow: 0 0 5px rgba(0,0,0,.1) inset;
            background-color: #f1652a;
        }

    .features-list .row-features .item-feature-01 span {
        background-position: 0 0;
    }

    .features-list .row-features .item-feature-02 span {
        background-position: 0 -60px;
    }

    .features-list .row-features .item-feature-03 span {
        background-position: 0 -120px;
    }

    .features-list .row-features .item-feature-04 span {
        background-position: 0 -180px;
    }

    .features-list .row-features .item-feature-05 span {
        background-position: 0 -240px;
    }

    .features-list .row-features .item-feature-06 span {
        background-position: 0 -300px;
    }

    .features-list .row-features .item-feature-07 span {
        background-position: 0 -360px;
    }

    .features-list .row-features .item-feature-08 span {
        background-position: 0 -420px;
    }

    .features-list .row-features .item-feature-09 span {
        background-position: 0 -480px;
    }

    .features-list .row-features .item-feature-10 span {
        background-position: 0 -540px;
    }

/*[reviews-list]*/
.reviews-list {
    background: #f9f9f9;
    border-top: 1px solid #eee;
    padding: 40px 0 10px;
}

    .reviews-list h4 {
        font-size: 20px;
        margin-bottom: 40px;
    }

        .reviews-list h4 span {
            background-color: #f9f9f9;
            padding-right: 15px;
        }

    .reviews-list .reviews-content {
        margin-bottom: 10px;
    }

        .reviews-list .reviews-content .blockquote-item {
            margin-bottom: 30px;
            padding-left: 74px;
            padding-top: 4px;
            min-height: 64px;
        }

            .reviews-list .reviews-content .blockquote-item blockquote {
                margin: 0;
                padding: 0;
                border: none;
                font-size: 13px;
                color: #666;
                line-height: 22px;
                margin-top: 2px;
            }

            .reviews-list .reviews-content .blockquote-item cite {
                font-weight: 700;
                color: #333;
            }

                .reviews-list .reviews-content .blockquote-item cite a {
                    color: #444;
                }

        .reviews-list .reviews-content .blockquote-scotthanselman {
            background: url(/content/images/blockquote-scotthanselman.png) no-repeat 0 4px;
        }

        .reviews-list .reviews-content .blockquote-jhonpapa {
            background: url(/content/images/blockquote-jhonpapa.png) no-repeat 0 4px;
        }

        .reviews-list .reviews-content .blockquote-bradwilson {
            background: url(/content/images/blockquote-bradwilson.png) no-repeat 0 4px;
        }

        .reviews-list .reviews-content .blockquote-rickstrahl {
            background: url(/content/images/blockquote-rickstrahl.png) no-repeat 0 4px;
        }

/*[responsive home]*/
@media screen and (max-width:991px) {
    .jumbotron-home hgroup {
        height: auto;
        background-position: center top;
        -moz-background-size: 80px 85px;
        -o-background-size: 80px 85px;
        -webkit-background-size: 80px 85px;
        background-size: 80px 85px;
        text-align: center;
        padding: 0;
        padding-top: 90px;
    }

    .row-features p,
    .btn-social-network,
    .jumbotron-home .description {
        display: none;
    }

    .btn-download {
        display: block;
        margin: 40px auto 0;
        max-width: 40%;
    }

    .features-list .row-features .item-feature a {
        padding: 20px 10px 10px;
        max-height: none;
        min-height: 1px;
    }
}

@media screen and (max-width:768px) {
    .features-list .row-features .item-feature {
        width: 25%;
    }
}

@media screen and (max-width:640px) {
    .reviews-list {
        display: none;
    }

    .features-list .row-features .item-feature {
        width: 33%;
    }
}

@media screen and (max-width:639px) {
    .btn-download {
        max-width: 60%;
    }
}

@media screen and (max-width:480px) {
    .features-list .row-features .item-feature {
        width: 50%;
    }
}

@media screen and (max-width:380px) {
    .jumbotron-home hgroup h1 a {
        font-size: 38px;
    }
}

@media screen and (max-width:320px) {
    .btn-download {
        max-width: 80%;
    }
}
