@{
    Page.Title = "Browser Link";
    Layout = "~/Views/_Layout.cshtml";
}

<p>
    Web Essentials ships with a range of Browser Link features that are all available
    from a menu that is injected onto your website when Browser Link is running.
    <br /><br />
    <img src="/Images/browserlink/menu.png" alt="" />
</p>

<section>
    <h2>Features</h2>

    <article data-version="WE2013">
        <h3>Auto-hide</h3>

        <p>
            If you don't care to see the menu all the time, check this checkbox to make it
            be invisible by default. To toggle visibility of the menu, just click the
            <mark>Ctrl</mark> key in the browser.
        </p>
    </article>

    <article data-version="WE2013">
        <h3>Inspect Mode</h3>

        <p>
            When the mouse hovers DOM elements on the page in any browser, Visual Studio will
            open the source file and mark the exact location that generated the specific DOM element.
        </p>
    </article>

    <article data-version="WE2013">
        <h3>Design Mode</h3>

        <p>
            Works like <mark>Inspect Mode</mark> but when you finally click a DOM element
            in the browser, that element becomes editable. Any edits are transered into Visual Studio
            in real time to update the source file.
        </p>
    </article>

    <article data-version="WE2013">
        <h3>Save F12 changes</h3>

        <p>
            When making edits in the various browser's developer tools, you can click
            <mark>Save F12 changes</mark> to automatically transfer the changes back to their
            source files in Visual Studio. This works with CSS changes only.
        </p>
    </article>

    <article data-version="WE2013">
        <h3>F12 auto-sync</h3>

        <p>
            Instead of manually clicking <mark>Save F12 changes</mark>, you can stream 
            the changes back to Visual Studio in real time.
        </p>
    </article>

    <article data-version="WE2013">
        <h3>Find Unused CSS</h3>

        <p>
            Clicking this button will start recording the different CSS rules used on your site.
            Simply start navigating around you website, and when you're done, click the button again.
            This will produce a list of unused CSS in the Error List inside Visual Studio.
        </p>
    </article>
</section>