@{
    Page.Title = "Bundling";
    Page.Description = "Describe all bundling fonctionalities of Web Essentials.";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="features-page">
    <div class="alert alert-info">
        <p>The HTML editor has been extended with extra functionality.</p>
    </div>
    @*<header class="section-header">
            <h2><span>Features</span></h2>
        </header>*@
    <div class="row">
        <div class="col-md-6">
            <article class="panel panel-default">
                <h3 class="panel-heading">What is a bundle</h3>
                <div class="panel-body">
                    <p>A bundle file is essentially an XML file, which defines a  <i>recipe</i> of bundle. By parsing it, we can tell how the bundled asset in question was formed.</p>
                    <p>So far, Web Essentials offers two bundling types:</p>
                    <ol>
                        <li> .bundle : for CSS and JS files. It outputs a destination CSS or JS file with a V3 source-map, a minified version of source and a V3 source-map of that min.</li>
                        <li>.sprite : for images (PNG, JPG and GIF). It spits out a sprite image, CSS with example code for all the possible coordinates in background property, LESS and SASS files with mixins holding the same background properties and a custom map file (JSON) with all those coordinates (for future software use: designer mode, browsers, etc.).</li>
                    </ol>
                    @*<p>
                            The third one was proposed by @@DerAlbertCom via #303 for TypeScript files.
                        </p>*@
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="panel panel-default">
                <h3 class="panel-heading">How it works</h3>
                <div class="panel-body">
                    <p>
                        Basically, there is two way to update bundled assets.
                    </p>
                    <ol>
                        <li>Changing an <i>ingredient,</i>&nbsp;such as .js, .css or image.</li>
                        <li>
                            Updating a bundle <i>recipe</i> file.
                        </li>
                    </ol>
                    <div style="margin:auto;">
                        <svg style="height:310px; display:block; border:1px solid #ccc; position:relative;
      background:#fff;min-height:310px;margin:auto;" viewBox="0 0 520 310">
                            <defs>
                                <polygon id="arrowOrigin" fill="gray" stroke="black" stroke-width="1"
                                         points="0,10 100,10 100,0
                                            120,20
                                        100,40 100,30 0,30" />
                            </defs>

                            @* Recipe *@
                            <text x="5" y="15"
                                  font-family="Verdana" font-size="14" fill="black">
                                When a recipe is saved,
                            </text>
                            <text x="32" y="33"
                                  font-family="Verdana" font-size="14" fill="black">
                                recreate bundle
                            </text>
                            <text x="60" y="58"
                                  font-family="Verdana" font-size="16" fill="black">
                                RECIPE
                            </text>
                            <rect x="55" y="40" width="70" height="26"
                                  rx="5" fill="none" stroke="black" stroke-width="1" />

                            @* Ingredients *@
                            <text x="265" y="25"
                                  font-family="Verdana" font-size="16" fill="black">
                                INGREDIENTS
                            </text>
                            <rect x="260" y="5" width="250" height="100"
                                  rx="5" fill="none" stroke="black" stroke-width="1" />

                            <circle cx="291" cy="60" r="20" fill="none" stroke="gray" stroke-width="1"></circle>
                            <circle cx="354" cy="60" r="20" fill="none" stroke="gray" stroke-width="1"></circle>
                            <circle cx="416" cy="60" r="20" fill="none" stroke="gray" stroke-width="1"></circle>
                            <circle cx="478" cy="60" r="20" fill="none" stroke="gray" stroke-width="1"></circle>
                            <text x="265" y="120"
                                  font-family="Verdana" font-size="14" fill="black">
                                When any ingredient is changed,
                            </text>
                            <text x="265" y="138"
                                  font-family="Verdana" font-size="14" fill="black">
                                recreate all bundles containing
                            </text>
                            <text x="265" y="156"
                                  font-family="Verdana" font-size="14" fill="black">
                                this asset
                            </text>

                            @* ARROWS *@
                            <use x="0" y="0" transform="translate(117,28) rotate(-180 60 20) scale(0.75)" xlink:href="#arrowOrigin" />
                            <use x="0" y="0" transform="translate(50,110) rotate(60 60 20) scale(0.5)" xlink:href="#arrowOrigin" />

                            @* Bundled items *@
                            <circle cx="156" cy="200" r="80" fill="none" stroke="gray" stroke-width="1" />
                            <circle cx="156" cy="200" r="70" fill="none" stroke="gray" stroke-width="1" />
                            <text x="88" y="300"
                                  font-family="Verdana" font-size="16" fill="black">
                                BUNDLED ASSET
                            </text>
                            <rect x="109" y="170" width="40" height="20"
                                  rx="3" fill="none" stroke="gray" stroke-width="1" />
                            <text x="120" y="185"
                                  font-family="Verdana" font-size="14" fill="black">
                                JS
                            </text>
                            <rect x="156" y="150" width="40" height="20"
                                  rx="3" fill="none" stroke="gray" stroke-width="1" />
                            <text x="161" y="165"
                                  font-family="Verdana" font-size="14" fill="black">
                                CSS
                            </text>
                            <rect x="156" y="200" width="50" height="20"
                                  rx="3" fill="none" stroke="gray" stroke-width="1" />
                            <text x="161" y="215"
                                  font-family="Verdana" font-size="14" fill="black">
                                HTML
                            </text>
                            <rect x="120" y="230" width="65" height="20"
                                  rx="3" fill="none" stroke="gray" stroke-width="1" />
                            <text x="125" y="245"
                                  font-family="Verdana" font-size="14" fill="black">
                                Images
                            </text>
                        </svg>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <article class="panel panel-default">
                <h3 class="panel-heading">Differences between sprite and bundle</h3>
                <div class="panel-body">
                    @*<p>These are the differences in sprite and bundle features:</p>*@<p></p>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Sprite</th>
                                <th>Bundles</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Specify Output directory for generated file</td>
                                <td>
                                    Yes<sup>1</sup>
                                </td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>
                                    Relative URL in generated file <br><em>(otherwise use website-root absolute)</em>
                                </td>
                                <td>Yes</td>
                                <td>No</td>
                            </tr>
                            <tr>
                                <td>Ability to update individually when recipe changes </td>
                                <td>
                                    Yes
                                </td>
                                <td>
                                    Yes
                                </td>
                            </tr>
                            <tr>
                                <td>Ability to update individually when any of the ingredient / asset changes</td>
                                <td>No</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>
                                    Relative URL in generated file <br><em>(otherwise keep URLs as they are)</em>
                                </td>
                                <td>No</td>
                                <td>
                                    Yes<sup>2</sup>
                                </td>
                            </tr>
                            <tr>
                                <td>Run On Build</td>
                                <td>No</td>
                                <td>Yes</td>
                            </tr>
                            <tr>
                                <td>Specify Output directory for map file</td>
                                <td>No</td>
                                <td>No</td>
                            </tr>
                        </tbody>
                    </table>

                    <sup>1</sup>&nbsp;For all CSS, LESS and SCSS separately <br />
                    <sup>2</sup>&nbsp;Only for CSS
                    @*<p>Relative URL usage in <code>.bundle</code> requires two things:</p>

                        <ul>
                            <li>If its off, it should use absolute w.r.t website root.</li>

                        </ul><p>Regarding <code>Specify Output directory for map file</code>, if this option is supposed to be implemented for bundles, then it should be implemented for compilers / linters too (add to <code>ISourceMapSettings</code>).</p>*@

                </div>
            </article>

        </div>
    </div>

    <div class="row">
        <div class="col-md-6">


            <article class="panel panel-default">
                <h3 class="panel-heading">Example - Sprite</h3>
                <div class="panel-body">
                    <p>
                        Code example, with screen shot, of sprite usage.
                    </p>
                    <p>Adding note about that: use the file system to generate the list of pictures to include in the sprite.</p>
                </div>
            </article>
        </div>
        <div class="col-md-6">

            <article class="panel panel-default">
                <h3 class="panel-heading">Example - Bundle</h3>
                <div class="panel-body">
                    <p>
                        Code example, with screen shot, of bundle usage.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>
</div>
