@{
    Page.Title = "CoffeeScript";
    Page.Keywords = "coffeescript, coffee, iced, javascript, compiler";
    Page.Description = "CoffeeScript is enabled through Web Essentials";
    Layout = "~/Views/_LayoutFilter.cshtml";
}

@section highlight{
    <div class="alert alert-info">
        <p>
            CoffeeScript is a little language that compiles into JavaScript.
            Underneath all those awkward braces and semicolons, JavaScript has always had a gorgeous object model at its heart.
            CoffeeScript is an attempt to expose the good parts of JavaScript in a simple way.
        </p>
    </div>
}
<header class="section-header">
    <h2><span>Features</span></h2>
</header>
<div class="row">
    <div class="col-md-6">
        <article id="preview-window" class="panel panel-default" data-version="WE2012, WE2013">
            <h3 class="panel-heading">
                <a href="#preview-window">
                    <span class="fa fa-link"></span>
                </a>
                Preview Window
            </h3>
            <div class="panel-body">
                <p>
                    When a CoffeeScirpt file (.coffee) is saved in Visual Studio, Web Essentials will compile it automatically and generate a preview.
                </p>
                <img src="/images/coffee/preview.png" alt="CoffeeScript preview" />
            </div>
        </article>
        <article id="compiler" class="panel panel-default" data-version="WE2012, WE2013">
            <h3 class="panel-heading">
                <a href="#compiler">
                    <span class="fa fa-link"></span>
                </a>
                Compiler settings
            </h3>
            <div class="panel-body">
                <p>
                    You can set all the compiler settings from Tools -> Options
                </p>
            </div>
        </article>
        <article id="iced" class="panel panel-default" data-version="WE2012, WE2013">
            <h3 class="panel-heading">
                <a href="#iced">
                    <span class="fa fa-link"></span>
                </a>
                Iced CoffeeScript support
            </h3>
            <div class="panel-body">
                <p>
                    You can also use the Iced CoffeeScript compiler for added features. To run Iced CoffeeScript, simple use the <mark>.iced</mark> file extension
                </p>
            </div>
        </article>
    </div>
    <div class="col-md-6">
        <article id="nodejs" class="panel panel-default" data-version="WE2013">
            <h3 class="panel-heading">
                <a href="#nodejs">
                    <span class="fa fa-link"></span>
                </a>
                NodeJS compilation
            </h3>
            <div class="panel-body">
                <p>
                    Web Essentials uses NodeJS to run the compiler. It's the fastest and most accurate
                    compiler for CoffeScript and Iced CoffeeScript available.
                </p>
            </div>
        </article>
        <article id="source-maps" class="panel panel-default" data-version="WE2013">
            <h3 class="panel-heading">
                <a href="#source-maps">
                    <span class="fa fa-link"></span>
                </a>
                Source Maps
            </h3>
            <div class="panel-body">
                <p>
                    Source Map generation is fully supported and will produce .map files.
                    This feature can be enabled in the Options dialog.
                </p>
            </div>
        </article>
        <article id="custom-folder" class="panel panel-default" data-version="WE2013">
            <h3 class="panel-heading">
                <a href="#custom-folder">
                    <span class="fa fa-link"></span>
                </a>
                Compile to custom folder
            </h3>
            <div class="panel-body">
                <p>
                    If you want the compiled output in a separate folder, then you can specify which
                    one in the Options dialog.
                </p>
            </div>
        </article>
        <article id="minification" class="panel panel-default" data-version="WE2012, WE2013">
            <h3 class="panel-heading">
                <a href="#minification">
                    <span class="fa fa-link"></span>
                </a>
                Minification
            </h3>
            <div class="panel-body">
                <p>
                    When a CoffeeScript file is compiled, it can now also be minified to produce a much smaller JavaScript file.
                </p>
            </div>
        </article>
        <article id="comment" class="panel panel-default" data-version="WE2012, WE2013">
            <h3 class="panel-heading">
                <a href="#comment">
                    <span class="fa fa-link"></span>
                </a>
                Comment/Uncomment
            </h3>
            <div class="panel-body">
                <p>
                    Two very useful commands is <mark>comment</mark> and <mark>uncomment</mark>.
                    They are fully supported for CoffeeScript.
                </p>
            </div>
        </article>
        <article id="smart-indent" class="panel panel-default" data-version="WE2012, WE2013">
            <h3 class="panel-heading">
                <a href="#smart-indent">
                    <span class="fa fa-link"></span>
                </a>
                Smart Indent
            </h3>
            <div class="panel-body">
                <p>
                    Indentation is handled on <mark>ENTER</mark> so you don't have to hit TAB so many times.
                </p>
            </div>
        </article>
    </div>
</div>
