@{
    Page.Title = "CoffeeScript";
    Page.Keywords = "coffeescript, coffee, iced, javascript, compiler";
    Page.Description = "CoffeeScript is enabled through Web Essentials";
    Layout = "~/Views/_Layout.cshtml";
}

<p>
    CoffeeScript is a little language that compiles into JavaScript. 
    Underneath all those awkward braces and semicolons, JavaScript has always had a gorgeous object model at its heart. 
    CoffeeScript is an attempt to expose the good parts of JavaScript in a simple way. 
</p>

<section>
    <h2>Features</h2>

    <article>
        <h3>Preview window</h3>

        <p>
            When a CoffeeScirpt file (.coffee) is saved in Visual Studio, Web Essentials will compile it automatically and generate a preview.
        </p>

        <img src="/images/coffee/preview.png" alt="CoffeeScript preview" width="460" height="322" />
    </article>

    <article>
        <h3>Compiler settings</h3>

        <p>
            You can set all the compiler settings from Tools -> Options
        </p>
    </article>

    <article>
        <h3>Iced CoffeeScript</h3>

        <p>
            You can also use the Iced CoffeeScript compiler for added features.
        </p>
    </article>

    <article>
        <h3>Outlining/code folding</h3>

        <p>
            The CoffeeScript editor will automatically provide outlining support.
        </p>
    </article>
    
    <article>
        <h3>Minification</h3>

        <p>
            When a CoffeeScript file is compiled, it can now also be minified to produce a much smaller JavaScript file.
        </p>
    </article>
</section>

