@{
    Page.Title = "Handlebars";
    Page.Keywords = "handlebars, hbs, handlebars, compile";
    Page.Description = "Web Essentials compiles handlebars templates.";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="features-page">
    <div class="alert alert-info">
        <p>Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.</p>
    </div>
    <header class="section-header">
        <h2><span>Features</span></h2>
    </header>
    <div class="row">
        <div class="col-md-6">
            <article id="compiler" class="panel panel-default" data-version="WE2013">
                <h3 class="panel-heading">
                    <a href="#compiler">
                        <span class="fa fa-link"></span>
                    </a>
                    Compiler settings
                </h3>
                <div class="panel-body">
                    <p>
                        You can set all the compiler settings from Tools -> Options. They include:
                    </p>
                    <ul>
                        <li>Compile on save</li>
                        <li>Compile on build</li>
                        <li>Custom output directory</li>
                    </ul>
                </div>
            </article>
            <article id="nodejs" class="panel panel-default" data-version="WE2013">
                <h3 class="panel-heading">
                    <a href="#nodejs">
                        <span class="fa fa-link"></span>
                    </a>
                    NodeJS compilation
                </h3>
                <div class="panel-body">
                    <p>
                        Web Essentials uses NodeJS to run the compiler, which means handlebars templates compile quickly, accurately, and to the latest version.
                    </p>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article id="custom-folder" class="panel panel-default" data-version="WE2013">
                <h3 class="panel-heading">
                    <a href="#custom-folder">
                        <span class="fa fa-link"></span>
                    </a>
                    Compile to custom folder
                </h3>
                <div class="panel-body">
                    <p>
                        If you want the compiled output in a separate folder, then you can specify which
                        one in the Options dialog.
                    </p>
                </div>
            </article>
            <article id="custom-folder" class="panel panel-default" data-version="WE2013">
                <h3 class="panel-heading">
                    <a href="#common-extensions">
                        <span class="fa fa-link"></span>
                    </a>
                    Common Handlebars Extensions
                </h3>
                <div class="panel-body">
                    <p>
                        Recognises common handlebars template extensions, .hbs and .handlebars.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>