@{
    Page.Title = "Markdown";
    Layout = "~/Views/_Layout.cshtml";
}

<p>
    Web Essentials ships with a Markdown editor.
</p>

<section>
    <h2>Features</h2>

    <article data-version="WE2012, WE2013">
        <h3>Syntax highlighting</h3>

        <p>Full colorization for Markdown syntax</p>
    </article>

    <article data-version="WE2012, WE2013">
        <h3>Preview window</h3>

        <p>See a side-by-side preview window of the rendered HTML</p>
    </article>

    <article data-version="WE2013">
        <h3>Intellisense for embedded languages</h3>

        <p>GitHub's embedded language feature is fully support by support for the <code>```language</code> syntax.</p>
    </article>

    <article data-version="WE2013">
        <h3>Compile to HTML</h3>

        <p>
            Right-click any Markdown file and select <mark>Compile Markdown to HTML</mark>.
            This will generate a .html file nested under the Markdown file and it will stay in sync as the Markdown
            file changes.
        </p>
    </article>

    <article data-version="WE2012, WE2013">
        <h3>Custom Stylesheet</h3>

        <p>You can add a solution specific Stylesheet to control the styles of the preview window.</p>
    </article>
</section>