@{
    Page.Title = "TypeScript";
    Page.Keywords = "typescript, ts, javascript, compiler";
    Page.Description = "Writing TypeScript has never been easier using Web Essentials";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="features-page">
    <div class="alert alert-info">
        <p>
            Full support for TypeScript preview and compilation. Remember to install the official plug-in for
            Visual Studio to take full advantage of TypeScript
            <a href="http://www.typescriptlang.org/#Download" target="_blank" rel="nofollow">http://www.typescriptlang.org/#Download</a>
        </p>
    </div>
    <header class="section-header">
        <h2><span>Features</span></h2>
    </header>
    <div class="row">
        <div class="col-md-6">
            <article class="panel panel-default" data-version="WE2012, WE2013">
                <h3 class="panel-heading">Preview window (coming in January 2014...)</h3>
                <div class="panel-body">
                    <p>
                        When a TypeScript file (.ts) is compiled in Visual Studio, Web Essentials will
                        generate show the compiled .js file in a preview window.
                    </p>
                    <img src="/images/ts/preview.png" alt="TypeScript preview" width="460" height="322" />
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <article class="panel panel-default" data-version="WE2012, WE2013">
                <h3 class="panel-heading">Custom regions</h3>
                <div class="panel-body">
                    <p>
                        Some people hate them, other people loves them.
                    </p>
                    <img src="/images/js/regions.png" alt="TypeScript regions" width="231" height="160" />
                </div>
            </article>
            <article class="panel panel-default" data-version="WE2012, WE2013">
                <h3 class="panel-heading">Drag 'n drop</h3>
                <div class="panel-body">
                    <p>
                        Drag a .js or .ts file onto the TypeScript editor and Intellisense references are inserted.
                    </p>
                </div>
            </article>
        </div>
    </div>
</div>