@{
    Page.Title = "Change log";
    Page.Keywords = "change log, news, what's new, release";
    Page.Description = "The change log of Web Essentials 2013 and 2015";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="changelog-page">
    <div class="alert alert-info">
        <p>
            <strong>Important!</strong>
            Bundling, minification and compilation of LESS, Sass and CoffeeScript is not longer part of Web Essentials 2015.
        </p>
        <p>
            Install the new extensions
            <strong><a href="https://visualstudiogallery.msdn.microsoft.com/9ec27da7-e24b-4d56-8064-fd7e88ac1c40">Bundler &amp; Minifier</a></strong>
            and
            <strong><a href="https://visualstudiogallery.msdn.microsoft.com/3b329021-cd7a-4a01-86fc-714c2d05bb6c">Web Compiler</a></strong>
            instead.

            Also, see
            <strong><a href="http://webtooling.visualstudio.com/extensions/web-development/">this list</a></strong>
            of other web development extensions that might be of interest to you.
        </p>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <!-- 2015 -->
            <header class="section-header">
                <h2><span>Web Essentials 2015</span></h2>
            </header>

            @Html.Raw(ChangeLogHelper.GetChangeLog("WebEssentials2015"))

        </div>

        <div class="col-md-6">
            <!-- 2013 -->
            <header class="section-header">
                <h2><span>Web Essentials 2013</span></h2>
            </header>

            @Html.Raw(ChangeLogHelper.GetChangeLog("WebEssentials2013"))

        </div>
    </div>
</div>
