@{
    Page.Title = "Change log";
    Page.Keywords = "change log, news, what's new, release";
    Page.Description = "The change log of Web Essentials 2012 and 2013";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="changelog-page">
    <div class="alert alert-info">
        <p>An overview over new features and fixes being released in both the official release and the nightly builds.</p>
        <p>Web Essentials 2012/2013 works best with <strong><a class="text-info" href="http://visualstudiogallery.msdn.microsoft.com/a16c2d07-b2e1-4a25-87d9-194f04e7a698" target="_blank">SideWaffle Template Pack</a></strong>.</p>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <!-- 2012 -->
            <header class="section-header">
                <h2><span>Web Essentials 2012</span></h2>
            </header>
            <div class="panel-group" id="accordion2012">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_37">3.6.5 - January 22, 2014</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_37" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Option to disable TypeScript preview window</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_36">3.6 - January 15, 2014</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_36" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>TypeScript preview window</li>
                                <li>HTML 5 .appcache colorization</li>
                                <li>Updated AjaxMin. Fixes media queries</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_35">3.5 - January 2, 2014</a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-3.5.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_35" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>CSS Media Query Intellisense</li>
                                <li>CSS Media Query snippets</li>
                                <li>CoffeeScript comment/uncomment</li>
                                <li>CoffeeScript indent on ENTER</li>
                                <li>robots.txt and .vtt comment/uncomment</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_34">
                                3.4 - December 21, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-3.4.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_34" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>CSS variables support</li>
                                <li>ZenCoding updates</li>
                                <li>Better image drop for HTML &amp; Markdown</li>
                                <li>WebVTT editor</li>
                                <li>Encoding options for LESS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_33">
                                3.3 - November 17, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-3.3.5.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_33" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Strict math support for LESS</li>
                                <li>ZenCoding updates</li>
                                <li>Various bug fixes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_32">
                                3.2 - October 5, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-3.2.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_32" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Fixed Markdown editor issue</li>
                                <li>Improved the LESS validator</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_31">
                                3.1 - September 28, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-3.1.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_31" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Re-added TypeScript drag 'n drop</li>
                                <li>Re-added TypeScript #regions</li>
                                <li>Added Robots.txt Intellisense</li>
                                <li>Updated Markdown editor</li>
                                <li>Added HTML #region support</li>
                                <li>Made fonts and colors for Markdown customizable</li>
                                <li>Various bug fixes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_30">
                                3.0 - August 24, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-3.0.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_30" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    Removed all TypeScript support
                                    <ul>
                                        <li>As agreed with the TypeScript team</li>
                                        <li>It's a good thing. <a href="http://madskristensen.net/post/Web-Essentials-2013-Where-is-the-TypeScript-support.aspx">Here's why</a></li>
                                        <li><a href="http://blogs.msdn.com/b/typescript/archive/2013/01/21/announcing-typescript-0-8-2.aspx">Compile on save</a> is supported</li>
                                        <li><a href="http://typescript.codeplex.com/wikipage?title=Compile-on-Save">Enable Typscript compilation in your project</a></li>
                                    </ul>
                                </li>
                                <li>Added support for pre-gzipping .js and .css</li>
                                <li>Output window no longer hijacked on build</li>
                                <li>Robots.txt syntax highlighter</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_29">
                                2.9 - August 4, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-2.9.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_29" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Fixed issue with TypeScript compilation</li>
                                <li>Upgraded LESS compiler to v1.4.2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_281">
                                2.8.1 - July 31, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_281" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Fixed LESS relative @@import issue</li>
                                <li>Upgraded LESS compiler to v1.4.1</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_28">
                                2.8 - July 16, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_28" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Fixed issue with tabs in JSHint</li>
                                <li>Perf improvements to CTRL+,</li>
                                <li>CSS SpeedTyping fix for LESS</li>
                                <li>Fixed LESS relative @@import issue</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_27">
                                2.7 - May 5, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_27" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>CTRL+comma support for CSS selectors</li>
                                <li>Removed the limited SASS support</li>
                                <li>Bug fixes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_26">
                                2.6 - March 24, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-2.6.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_26" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Fixed file lock on CSS image hover</li>
                                <li>Markdown editor classifications</li>
                                <li>Brace completion for TypeScript</li>
                                <li>Paste JSON as TypeScript interfaces</li>
                                <li>Preview window width removed from settings</li>
                                <li>Linked and aboslute file paths for bundling</li>
                                <li>Support for custom bundling output file names</li>
                                <li>Added CSS property value tooltip signatures</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_251">
                                2.5.1 - February 17, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2012-2.6.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs12_251" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Disabled CTRL+comma for CSS (too slow)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_25">
                                2.5 - February 17, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_25" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Added support for ZenCoding Groupings</li>
                                <li>Added CTRL+comma navigation for CSS</li>
                                <li>Fixed NullReferenceException in TypeSript</li>
                                <li><strong>Removed</strong> LESS/CoffeeScript editors</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_245">
                                2.4.5 - January 25, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_245" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Added line numbers and scrollbar to preview window</li>
                                <li>Fixed the NullReferenceException</li>
                                <li>Fixed issue with annoying output window</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_24">
                                2.4 - January 21, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_24" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Downgraded LESS compiler to version 1.3.1</li>
                                <li>Fixed LESS compiler encoding issue</li>
                                <li>Added error logging support</li>
                                <li>Support for TypeScript 0.8.2</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_23">
                                2.3 - January 10, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_23" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Updated to LESS compiler 1.3.3</li>
                                <li>Custom Markdown preview stylesheet</li>
                                <li>JavaScript XMLDoc comment scaffolding</li>
                                <li>Extract variable/mixin in LESS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_22">
                                2.2 - December 23, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_22" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Markdown preview window</li>
                                <li>Bug fixes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_21">
                                2.1 - December 18, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_21" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Custom color palette support</li>
                                <li>Browser selector for CSS/LESS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_20">
                                2.0 - December 5, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_20" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>TypeScript 0.8.1.1 support</li>
                                <li>Option to compile LESS and CoffeeScript to CSS and JS folder respectively</li>
                                <li>SCSS basic editor support</li>
                                <li>Removed "Paste JSON as classes". It's being rolled into an official release shortly</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_191">
                                1.9.1 - November 28, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_191" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Open solution hangs - fix</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_19">
                                1.9 - November 27, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_19" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Solution settings</li>
                                <li>Improved CSS proprety sorting (CssComb)</li>
                                <li>Lorem Ipsum generator as part of ZenCoding</li>
                                <li>Option to compile LESS on build</li>
                                <li>Extract JS/CSS to new file</li>
                                <li>Added JS editor outlining/code folding</li>
                                <li>Poor man's Find References (SHIFT+F12) for CSS and JS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_185">
                                1.8.5 - November 19, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_185" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    TypeScript 0.8.1 support
                                <li>General bug fixes and optimizations</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_18">
                                1.8 - November 13, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_18" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>ZenCoding improvements</li>
                                <li>JavaScript features: Identifier highlighting, auto-close braces, smart indent, type-through</li>
                                <li>Run JSHint on build</li>
                                <li>CSS validation of vendor specific @@-directives</li>
                                <li>General bug fixes and tweaks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_17">
                                1.7 - November 7, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_17" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>ZenCoding for HTML</li>
                                <li>CSS selector specificity tooltip</li>
                                <li>Fixed crashing bug</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_16">
                                1.6 - November 2, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_16" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Updates to the LESS/CoffeeScript compilers</li>
                                <li>Bundling & minification improvements</li>
                                <li>JavaScript source maps support</li>
                                <li>New CSS vendor validators</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_15">
                                1.5 - October 23, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_15" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Major updates to the LESS editor</li>
                                <li>Support for Iced CoffeeScript</li>
                                <li>Added bundling of CSS and JavaScript</li>
                                <li>JsDoc comment support in JavaScript</li>
                                <li>Many tweaks and fixes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_14">
                                1.4 - October 11, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_14" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Minification support of JS, CSS, LESS, CoffeeScript and TypeScript</li>
                                <li>Modernizr CSS selector support</li>
                                <li>Automatic CSS schema download</li>
                                <li>CSS shorthand validation</li>
                                <li>Document outline in Solution Explorer for CSS and LESS files</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_13">
                                1.3 - October 4, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_13" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>TypeScript Source Maps and other compiler features</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_12">
                                1.2 - October 2, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_12" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>TypeScript preview/compilation support</li>
                                <li>Various bug fixes</li>
                                <li>More options</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_111">
                                1.1.1 - September 17, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_111" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Bug fixed for saving LESS files</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_11">
                                1.1 - September 8, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Options dialog</li>
                                <li>JSHint support</li>
                                <li>JavaScript regions</li>
                                <li>Better LESS/CoffeeScript editors and the offical compilers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2012" href="#cl_vs12_10">
                                1.0 - August 16, 2012
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs12_10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Initial version uploaded</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- 2013 -->
            <header class="section-header">
                <h2><span>Web Essentials 2013</span></h2>
            </header>
            <div class="panel-group" id="accordion2013">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_172">
                                1.7.2 - January 19, 2014
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_172" class="panel-collapse in">
                        <div class="panel-body">
                            <ul>
                                <li>Better outlining logic</li>
                                <li>Fixed indentation issue on JSDoc</li>
                                <li>Support for ~/ image previews in HTML</li>
                                <li>Fixed SASS editor crash</li>
                                <li>Fixed LESS show preview without save</li>
                                <li>Fixed source control issues</li>
                                <li>Other fixes and tweaks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_171">
                                1.7.1 - January 16, 2014
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_171" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>LESS compilation fixes</li>
                                <li>Image pasting fixes</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_17">
                                1.7 - January 15, 2014
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_17" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <strong>Important!</strong><br />
                                    <span>If you upgrade to v1.7 then check <strong>Tools -> Options -> Web Essentials</strong> to enable all the cool new stuff.</span>
                                    <br /><br />
                                </li>
                                <li>
                                    TypeScript support is back!!!
                                    <ul>
                                        <li>Preview Window is back</li>
                                        <li>TSLint support (JSHint for TypeScript)</li>
                                        <li>tslint.json item template in <a href="http://sidewaffle.com">SideWaffle</a></li>
                                        <li>JSDoc completion for @@keywords</li>
                                        <li>Comment block completion</li>
                                        <li>Improved *.d.ts generation from C#/VB</li>
                                        <li>Brace completion and type-through</li>
                                        <li>Smart Indent</li>
                                        <li>Arrow function outlining</li>
                                        <li>Array and conditionals outlining</li>
                                    </ul>
                                </li>
                                <li>
                                    JavaScript
                                    <ul>
                                        <li>Comment block completion</li>
                                        <li>JSDoc completion for @@keywords</li>
                                    </ul>
                                </li>
                                <li>
                                    Markdown
                                    <ul>
                                        <li>More file extensions supported</li>
                                        <li>Button added to compile to .html</li>
                                    </ul>
                                </li>
                                <li>
                                    JSHint
                                    <ul>
                                        <li>Ignoring nested .js files</li>
                                        <li>.jshintrc files fully supported</li>
                                        <li>.jshintignore files fully supported</li>
                                        <li>Website Projects supported</li>
                                        <li>File icons for .jshintrc & .jshintignore</li>
                                        <li>Item Templates added to <a href="http://sidewaffle.com">SideWaffle</a></li>
                                    </ul>
                                </li>
                                <li>
                                    SASS
                                    <ul>
                                        <li>Full compiler support</li>
                                        <li>Temporary basic .scss editor</li>
                                        <li>Preview window</li>
                                        <li>Source maps and minification</li>
                                    </ul>
                                </li>
                                <li>
                                    Image optimization
                                    <ul>
                                        <li>Lossless optimization of images</li>
                                        <li>Supports jpeg, gif and png files</li>
                                        <li>Removes the need for <a href="http://visualstudiogallery.msdn.microsoft.com/a56eddd3-d79b-48ac-8c8f-2db06ade77c3">Image Optimizer</a></li>
                                        <li>Works offline (unlike Image Optimizer)</li>
                                        <li>SmartTag for CSS and HTML &lt;img&gt; tags</li>
                                        <li>Works on base64 encoded DataURIs</li>
                                    </ul>
                                </li>
                                <li>
                                    Image sprites
                                    <ul>
                                        <li>Supports jpeg, gif and png files</li>
                                        <li>Option to stack vertical or horizontal</li>
                                        <li>Automatic sprite image optimization</li>
                                        <li>Generates LESS & SASS mixins</li>
                                        <li>Generates CSS sample</li>
                                        <li>Generates JSON file for use in tooling later</li>
                                    </ul>
                                </li>
                                <li>
                                    Paste images onto the editor
                                    <ul>
                                        <li>Paste image from clipboard</li>
                                        <li>Paste from browser</li>
                                        <li>Paste from file system</li>
                                        <li>Supports HTML, CSS, JS, Markdown etc.</li>
                                        <li>Automatic optimization on paste</li>
                                        <li>Great for screenshots</li>
                                    </ul>
                                </li>
                                <li>Issue with non-persistent settings fixed</li>
                                <li>HTML 5 *.appcache file colorization</li>
                                <li>.bundle file Intellisense for new bundles</li>
                                <li>Added missing file icons to Solution Explorers</li>
                                <li>Huge number of bug fixes and minor tweaks</li>
                                <li>CoffeeScript source map path issue when compiling to a custom folder. The issue has been reported to the CoffeeScript compiler team.</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_16">1.6 - January 2, 2014</a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-1.6.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_16" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>CSS Media Query Intellisense</li>
                                <li>CSS Media Query snippets</li>
                                <li>
                                    CoffeeScript:
                                    <ul>
                                        <li>Compiler now runs in Node.js</li>
                                        <li>Comment/uncomment support</li>
                                        <li>Indent on ENTER</li>
                                        <li>Source Map support</li>
                                        <li>.iced files supported</li>
                                    </ul>
                                </li>
                                <li>LESS Source Map support</li>
                                <li>JS/TS Intellisese generation updates</li>
                                <li>robots.txt and .vtt comment/uncomment</li>
                                <li>Lots of fixes and tweaks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_15">
                                1.5 - December 21, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-1.5.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_15" class="panel-collapse collapse">
                        <div class="panel-body">

                            <ul>
                                <li>New advanced Markdown editor</li>
                                <li>CSS variables support</li>
                                <li>ZenCoding updates</li>
                                <li>WebVTT editor</li>
                                <li>LESS compiler error improvements</li>
                                <li>HTML file minification (.html)</li>
                                <li>HTML file bundles (.html)</li>
                                <li>JS/TS Intellisense writer updates</li>
                                <li>New &lt;input&gt; ID Intellisense</li>
                                <li>SVG preview window</li>
                                <li>Perf fixes to NavigateTo for CSS</li>
                                <li>AngularJS ng-app validator</li>
                                <li>CSS media query validator improvements</li>
                                <li>...and a bunch of fixes and tweaks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_14">
                                1.4 - December 1, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-1.4.1.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_14" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Markdown can now compile to .html</li>
                                <li>Markdown settings added</li>
                                <li>Server code Intellisense in JS/TS. <a href="http://youtu.be/Nug1S9vcR0I">See video</a></li>
                                <li>Specify output path for LESS/CoffeeScript</li>
                                <li>Various bug fixes and perf improvements</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_13">
                                1.3 - November 16, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_13" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>LESS compiler now runs in NodeJS</li>
                                <li>Bootstrap class name validator</li>
                                <li>ZenCoding updates</li>
                                <li>Updated the CSS sorter</li>
                                <li>Various bug fixes and minor tweaks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_12">
                                1.2 - November 4, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-1.2.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_12" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>LESS relative paths fix</li>
                                <li>Various fixes and tweaks</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_11">
                                1.1 - October 22, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-1.1.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_11" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Fixed a lot of bugs</li>
                                <li>LESS fixes are planned for next update</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_10">
                                1.0 - October 17, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-1.0.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <strong>Important! </strong>
                            <a href="http://madskristensen.net/post/web-essentials-2013-rtm">Don't mix RC with RTM</a>
                            <ul>
                                <li>Supports Visual Studio 2013 RTM</li>
                                <li>LESS validation fixes</li>
                                <li>LESS fixes for relative paths</li>
                                <li>
                                    Browser Link
                                    <ul>
                                        <li>Menu shows up on web pages</li>
                                        <li>Find unused CSS</li>
                                        <li>CSS/LESS sync on save</li>
                                        <li>Browser tools integration</li>
                                    </ul>
                                </li>
                                <li>JSHintIgnore support</li>
                                <li>...and many more tweaks and fixes</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_07">
                                0.7 - September 27, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-0.7.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_07" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Various bug fixes</li>
                                <li>Last version of WE to support VS2013 RC</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_06">
                                0.6 - September 13, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_06" class="panel-collapse collapse">
                        <div class="panel-body">

                            <ul>
                                <li>CSS usage no longer auto-runs</li>
                                <li>TypeScript regions and drag 'n drop are back</li>
                                <li>Unicode support to LESS compiler</li>
                                <li>Fixes HTML auto-completion</li>
                                <li>Fixes robots.txt Intellisense</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_05">
                                0.5 - September 9, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_05" class="panel-collapse collapse">
                        <div class="panel-body">

                            <ul>
                                <li>Requires VS 2013 RC</li>
                                <li>
                                    Browser Link extensions
                                    <ul>
                                        <li>Inspect Mode</li>
                                        <li>Design Mode</li>
                                        <li>Find unused CSS</li>
                                        <li>Best practices (Web Dev Checklist)</li>
                                        <li>CSS browser sync on save</li>
                                    </ul>
                                </li>
                                <li>Dynamic HTML Intellisense</li>
                                <li>HTML format on ENTER</li>
                                <li>...and much more</li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_022">
                                0.2.2 - July 19, 2013
                            </a>
                            <a class="btn btn-success btn-nightly-download" href="/nightly/webessentials2013-0.2.2.vsix"><i class="fa fa-download"></i>Download</a>
                        </h4>
                    </div>
                    <div id="cl_vs13_022" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>Last version that works with VS2013 Preview</li>
                                <li>Fixed issue with LESS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2013" href="#cl_vs13_02">
                                0.2 - July 14, 2013
                            </a>
                        </h4>
                    </div>
                    <div id="cl_vs13_02" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li>CSS attribute name and value Intellisense</li>
                                <li>Sort code lines asc/desc (all languages)</li>
                                <li>Remove empty lines (all languages)</li>
                                <li>Remove duplicate lines (all languages)</li>
                                <li>Updated to latest version of JSHint</li>
                                <li>Added support for .jshintrc</li>
                                <li>Updated CoffeeScript to latest version</li>
                                <li>Extract Styles and Scripts HTML Smart Tags</li>
                                <li>Added dynamic HTML Intellisense</li>
                                <li>Go To Definition for &lt;a&gt;, &lt;style&gt;, and &lt;script&gt;</li>
                                <li>Better color display in LESS</li>
                                <li>Added HTML minification support</li>
                                <li>Added HTML region support</li>
                                <li>...and many bug fixes</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
