@{
    Page.Title = "Change log";
    Page.Keywords = "change log, news, what's new, release";
    Page.Description = "The change log of Web Essentials 2013 and 2015";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="changelog-page">
    <div class="alert alert-info">
        <p>An overview over new features and fixes being released in both the official release and the nightly builds.</p>
        <p>Web Essentials 2012/2013/2015 works best with <strong><a class="text-info" href="http://visualstudiogallery.msdn.microsoft.com/a16c2d07-b2e1-4a25-87d9-194f04e7a698" target="_blank">SideWaffle Template Pack</a></strong>.</p>
    </div>
    <div class="row ">
        <div class="col-md-6">
            <!-- 2015 -->
            <header class="section-header">
                <h2><span>Web Essentials 2015</span></h2>
            </header>

            @Html.Raw(ChangeLogHelper.GetChangeLog("WebEssentials2015"))

        </div>

        <div class="col-md-6">
            <!-- 2013 -->
            <header class="section-header">
                <h2><span>Web Essentials 2013</span></h2>
            </header>

            @Html.Raw(ChangeLogHelper.GetChangeLog("WebEssentials2013"))

        </div>
    </div>
</div>
