@{
    Page.Title = "Contribute";
    Layout = "~/Views/_Layout.cshtml";
}

<ul class="list-group">
    <li class="list-group-item"><a href="https://github.com/madskristensen/WebEssentials2012" target="_blank">Web Essentials 2012 on GitHub</a></li> 
    <li class="list-group-item"><a href="https://github.com/madskristensen/WebEssentials2013" target="_blank">Web Essentials 2013 on GitHub</a></li> 
    <li class="list-group-item"><a href="http://webessentials.uservoice.com/" rel="nofollow" target="_blank">Suggest features</a></li>
    <li class="list-group-item"><a href="https://github.com/madskristensen/vswebessentials.com" target="_blank">Help with this website</a></li>
    <li class="list-group-item"><a href="https://github.com/madskristensen/zencoding" target="_blank">ZenCoding on GitHub</a></li>
    <li class="list-group-item"><a href="https://github.com/madskristensen/CssSorter" target="_blank">CssSorter on GitHub</a></li> 
</ul>