@{
    Page.Title = "Download";
    Page.Keywords = "download, plugin, vsix, extension";
    Page.Description = "Download Web Essentials from the Visual Studio Gallery";
    Layout = "~/Views/_Layout.cshtml";
}
<section class="download-page">
    <section class="row">
        <div class="col-md-3" id="WE2015">
            <div class="panel panel-default text-center panel-download">
                <h3 class="panel-heading">
                    <a href="#WE2015">
                        <span class="fa fa-link"></span>
                    </a>
                    Web Essentials 2015
                </h3>
                <div class="panel-body">
                    <div class="logo-vs">
                        <img src="/images/visual-studio-2012.png" alt="Visual Studio 2015" />
                    </div>
                    <p class="description-vs">After installing, Visual Studio will automatically notify you of any updates to Web Essentials.</p>
                    <a itemprop="downloadUrl" target="_blank" class="btn btn-success btn-lg btn-block" href="https://visualstudiogallery.msdn.microsoft.com/ee6e6d8c-c837-41fb-886a-6b50ae2d06a2"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="WE2013">
            <div class="panel panel-default text-center panel-download">
                <h3 class="panel-heading">
                    <a href="#WE2013">
                        <span class="fa fa-link"></span>
                    </a>
                    Web Essentials 2013
                </h3>
                <div class="panel-body">
                    <div class="logo-vs">
                        <img src="/images/visual-studio-2012.png" alt="Visual Studio 2013" />
                    </div>
                    <p class="description-vs">After installing, Visual Studio will automatically notify you of any updates to Web Essentials.</p>
                    <a itemprop="downloadUrl" target="_blank" class="btn btn-success btn-lg btn-block" href="http://visualstudiogallery.msdn.microsoft.com/56633663-6799-41d7-9df7-0f2a504ca361"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="WE2012">
            <div class="panel panel-default text-center panel-download">
                <h3 class="panel-heading">
                    <a href="#WE2012">
                        <span class="fa fa-link"></span>
                    </a>
                    Web Essentials 2012
                </h3>
                <div class="panel-body">
                    <div class="logo-vs">
                        <img src="/images/visual-studio-2012.png" alt="Visual Studio 2012" />
                    </div>
                    <p class="description-vs">After installing, Visual Studio will automatically notify you of any updates to Web Essentials.</p>
                    <a itemprop="downloadUrl" target="_blank" class="btn btn-success btn-lg btn-block" href="http://visualstudiogallery.msdn.microsoft.com/07d54d12-7133-4e15-becb-6f451ea3bea6"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="WE2010">
            <div class="panel panel-default text-center panel-download">
                <h3 class="panel-heading">
                    <a href="#WE2010">
                        <span class="fa fa-link"></span>
                    </a>
                    Web Essentials 2010
                </h3>
                <div class="panel-body">
                    <div class="logo-vs">
                        <img src="/images/visual-studio-2010.png" alt="Visual Studio 2010" />
                    </div>
                    <p class="description-vs">Web Essentials 2010 is the first version and doesn't have most of the features in the newer versions.</p>
                    <a class="btn btn-success btn-lg btn-block" target="_blank" href="http://visualstudiogallery.msdn.microsoft.com/6ed4c78f-a23e-49ad-b5fd-369af0c2107f"><i class="fa fa-download"></i> Download</a>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4" id="old">
            <div class="panel panel-default">
                <h3 class="panel-heading">
                    <a href="#old">
                        <span class="fa fa-link"></span>
                    </a>
                    Older versions
                </h3>
                <div class="panel-body">
                    <p>
                        If you want to install an older version of Web Essentials 2013, please visit the
                        <a href="https://github.com/madskristensen/WebEssentials2013/releases">GitHub releases page</a>.
                    </p>

                    <p>
                        The GitHub releases page contains several files per version.
                        The extension to install is the .vsix file.
                    </p>

                    <p>
                        If you already have Web Essentials 2013 installed, you must first uninstall it
                        if you wish to install an older version.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8" id="nightly">
            <div class="panel panel-default">
                <h3 class="panel-heading">
                    <a href="#nightly">
                        <span class="fa fa-link"></span>
                    </a>
                    Nightly builds
                </h3>
                <div class="panel-body">
                    <p class="description-vs">
                        You can now get the latest nightly builds of Web Essentials 2013 automatically delivered
                        in Visual Studio. These builds aren't actual nightly builds, but will be updated several times a week.
                    </p>

                    <p>
                        This is recommended if you need specific bug fixes and can't wait till the next official release
                        or you just like to live on the cutting edge.
                    </p>

                    <p>
                        The purpose of the nightly builds is to make sure that you always have the latest and greatest,
                        as well as help the Web Essentials team to find bugs earlier, so they can be fixed before
                        the next official release is published.
                    </p>

                    <p>
                        You will still be notified by Visual Studio to update to the official builds. The nightly builds
                        simply gives you more updates between the official releases.
                    </p>

                    <br />
                    <h3>Setup</h3>
                    <p>
                        In Visual Studio go to <strong>Tools -> Options -> Environment -> Extensions and Updates</strong>.
                    </p>

                    <br />
                    <img src="/images/nightly2013.png" alt="" />
                    <br /><br />

                    <p>Click the <strong>Add</strong> button and fill in the name and URL fields.</p>

                    <p><strong>Name: </strong>Web Essentials 2013</p>
                    <p><strong>URL: </strong><a href="http://vswebessentials.com/nightly/2013">http://vswebessentials.com/nightly/2013</a></p>

                    <p>And finally click the <strong>Apply</strong> button.</p>

                    <p>
                        That's it. You've now added the nightly feed to Visual Studio and updates will start
                        to show up in <strong>Tools -> Extensions and Updates</strong> dialog
                    </p>

                    <br />
                    <img src="Images/ExtensionsAndUpdates.png" alt="Extensions and Updates" />
                    <br /><br />

                    <h3>Direct install</h3>
                    <p>
                        If you just want to install the latest nightly build without setting Visual Studio
                        up for the nightly build following the steps above, then you can certainly do that too.
                    </p>

                    <p>
                        By installing the nightly build directly will still make Visual Studio alert you
                        when an update to the official release is ready to be installed. This option is
                        good if you just want to try out the latest and greatest but don't want to opt in
                        to the frequent updates coming in the nightly feed.
                    </p>

                    <p>
                        <strong>Direct download: </strong>
                        <a href="http://vswebessentials.com/nightly/feed/webessentials2013.vsix">http://vswebessentials.com/nightly/feed/webessentials2013.vsix</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>
