@{
    Page.Title = "Download Web Essentials";
    Page.Keywords = "download, plugin, vsix, extension";
    Page.Description = "Download Web Essentials from the Visual Studio Gallery";
    Layout = "~/Views/_Layout.cshtml";
}

<p>
    Web Essentials is hosted at the Visual Studio gallery.
</p>

<div>    
    <h2>Web Essentials 2012</h2>    
    <img src="/images/visual-studio-2012.png" alt="Visual Studio 2012" class="right" width="400" height="76" />

    <p>
        After installing, Visual Studio will automatically notify you of any updates to Web Essentials.
    </p>

    <a itemprop="downloadUrl" href="http://visualstudiogallery.msdn.microsoft.com/07d54d12-7133-4e15-becb-6f451ea3bea6">Download Web Essentials 2012</a>
    <br />
    <br />
</div>

<div>    
    <h2>Web Essentials 2010</h2>
    <img src="/images/visual-studio-2010.png" alt="Visual Studio 2010" class="right" width="400" height="59" />

    <p>
        Web Essentials 2010 is the previous version and doesn't have most of the features in the newer Web Essentials 2012.
    </p>

    <a href="http://visualstudiogallery.msdn.microsoft.com/6ed4c78f-a23e-49ad-b5fd-369af0c2107f">Download Web Essentials 2010</a>
    <br />
    <br />
</div>

<div>
    <h2>Nightly builds</h2>

    <p>
        Many Web Essentials users have requested a more formal process around nightly builds, 
        that should result in a better delivery and update mechanism. To make it really easy to always run 
        the latest and greatest, I’ve now created a custom feed for the Extensions and Updates dialog in Visual Studio 2012.
    </p>

    <p>Here’s how it works:</p>
    <p>Go to Tools > Options and open the tab located under Environment –> Extensions and Updates.</p>

    <img src="/images/options.png" alt="Extensions and updates" width="758" height="444" />

    <p>
        Click the Add button and type “Web Essentials” in the Name field and 
        "<a href="http://vswebessentials.com/nightly/feed.ashx">http://vswebessentials.com/nightly/feed.ashx</a>"
        in the URL field. Now click the Apply button and you’re all set. Now click the OK button to exit the Options dialog.
    </p>

    <p>
        Now the custom feed shows up in the Extensions dialog. Go to Tools > Extensions and Updates… to verify that the new 
        feed is working. You should have a new sub category under the Online tab called “Web Essentials Nightly”.
    </p>

    <img src="/images/nightly.png" alt="Web Essentials nightly builds" width="605" height="254" />

    <p>
        The Nightly build shares the same extension ID as the official released versions of Web Essentials, so the newest one 
        will always override the one installed – regardless if it’s the nightly build or the official version. And updates will work normally.
    </p>
</div>
