@{
    Page.Title = "Features";
    Layout = "~/Views/_Layout.cshtml";
}

<ul>
    <li><a href="/features/general">General</a></li>
    <li><a href="/features/browserlink">Browser Link</a></li>
    <li><a href="/features/stylesheets">Stylesheets</a></li>
    <li><a href="/features/javascript">JavaScript</a></li>
    <li><a href="/features/html">HTML</a></li>
    <li><a href="/features/typescript">TypeScript</a></li>
    <li><a href="/features/less">LESS</a></li>
    <li><a href="/features/coffeescript">CoffeeScript</a></li>
    <li><a href="/features/markdown">Markdown</a></li>
</ul>