@{
    Page.Title = "Features";
    Layout = "~/Views/_Layout.cshtml";
}
<ul class="list-group">
    <li class="list-group-item"><a href="/features/general">General</a></li>
    <li class="list-group-item"><a href="/features/browserlink">Browser Link</a></li>
    <li class="list-group-item"><a href="/features/stylesheets">Stylesheets</a></li>
    <li class="list-group-item"><a href="/features/javascript">JavaScript</a></li>
    <li class="list-group-item"><a href="/features/html">HTML</a></li>
    <li class="list-group-item"><a href="/features/typescript">TypeScript</a></li>
    <li class="list-group-item"><a href="/features/less">LESS</a></li>
    <li class="list-group-item"><a href="/features/coffeescript">CoffeeScript</a></li>
    <li class="list-group-item"><a href="/features/markdown">Markdown</a></li>
    <li class="list-group-item"><a href="/features/custom-editors">Custom editors</a></li>
</ul>